<div class="mb-4" id="offCanvasLogo">
  <a routerLink="/home">
    <img alt="Stromify" src="assets/images/logos/logo_dark.png" height="40">
  </a>
</div>
<nav class="offcanvas-nav w-100" id="offCanvasNav">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/home">Home</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/services">Services</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/prozess">Prozess</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/ueberuns">Über Uns</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/kontakt">Kontakt</a></li>
  </ul>

  <a href="{{environment.links.portal}}" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium px-4 py-3 text-2-5 ms-3 text-nowrap" data-clone-element="1">
    <span>Anmelden <i class="fa-solid fa-arrow-right ms-2"></i></span>
  </a>

</nav>
