
<div role="main" class="main px-3 px-lg-5">

  <!-- Main Slider -->
  <div class="">
    <div class="owl-stage-outer">
      <div class="owl-stage">

        <!-- Carousel Slide 1 -->
        <div class="owl-item p-relative overflow-hidden">
          <div class="bg-primary border-radius-2 p-relative z-index-1 overflow-hidden">
            <div class="custom-el-2 custom-pos-1">
              <img class="img-fluid opacity-2 opacity-hover-2" src="assets/images/img/demos/accounting-1/svg/waves.svg" alt="">
            </div>
            <div class="container">
              <div class="row justify-content-center align-items-center mh-750px py-5">
                <div class="col-lg-5 text-center text-lg-start px-4">
                  <h4 class="text-5 text-lg-6 font-weight-medium mb-4 animate__animated animate__fadeIn">
                    <img width="29" height="29" src="assets/images/img/demos/accounting-1/icons/icon-7.svg" class="w-auto d-inline-flex p-relative bottom-2" alt=""> Strombeschaffung optimieren
                  </h4>
                  <h1 class="text-10 text-lg-12 font-weight-semibold line-height-1 animate__animated animate__fadeIn">Ihre Lösung für eine effiziente Strombeschaffung</h1>
                  <div class="animate__animated animate__fadeIn">
                    <p class="text-4 text-lg-5 pe-lg-5 line-height-5 text-dark opacity-7 mb-2 mb-lg-4">Unsere Plattform bietet Ihnen eine transparente Möglichkeit, den richtigen Stromversorger für Ihr Unternehmen zu finden.</p>
                  </div>
                  <div class="animate__animated animate__fadeIn">
                    <a href="{{environment.links.portal}}" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-light btn-effect-2 transition-3ms border-0 btn-rounded btn-xl text-3 py-4 btn-with-arrow-solid mt-3">
                      <strong class="d-inline-flex text-dark font-weight-medium text-3-5 text-lg-4 me-3 px-3">Lieferanfrage stellen</strong>
                      <span class="bg-transparent box-shadow-6"><i class="fa-solid fa-arrow-right text-dark"></i></span>
                    </a>
                  </div>
                </div>
                <div class="col-8 col-lg-7 mt-3 px-md-5 ps-xl-5 pe-xxl-0 mt-lg-0">
                  <div class="p-relative">
                    <div class="">
                      <img class="img-fluid" src="assets/images/general/dashboard_blueyellow_1.png" loading="lazy" alt="" style="opacity: 0.6;">
                    </div>

                    <div class="p-absolute bg-dark custom-stamp-1 animate__animated animate__fadeIn">
                      <!-- Curved Text Generator: https://suncatcherstudio.com/curved-text-generator/ -->
                      <div class="rotate-animation">
                        <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path id="curvedText1" fill="none" stroke="none"
                                d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z" />
                          <text font-size="20" fill="#FFF" letter-spacing="0" font-family="Poppins, Arial, sans-serif" font-weight="semibold">
                            <textPath xlink:href="#curvedText1">FROM HAMBURG TO THE WORLD </textPath></text>
                        </svg>
                      </div>
                      <div class="p-absolute transform3dxy-n50 left-50pct top-50pct">
                        <img width="58" height="58" src="assets/images/img/demos/accounting-1/icons/icon-shape-1.svg" alt="" />
                      </div>
                    </div>

                    <div class="p-absolute text-end custom-el-1 animate__animated animate__fadeIn">
                      <p><mark class="text-dark mark mark-color mark-color-light mark-pos-2 mark-height-50 p-0">100%</mark></p>
                      <em class="d-block custom-font-tertiary"><mark class="text-dark mark mark-color mark-color-light mark-pos-2 mark-height-100 p-0">transparent</mark></em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Icons -->
  <div class="border-bottom border-bottom-color-grey-100">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-4 mb-4 mb-sm-5 mb-lg-0">
          <div class="feature-box animate__animated animate__fadeIn">
            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
              <div class="p-absolute opacity-2 rotate-l-10">
                <img width="80" src="assets/images/img/icons/abstract-bg-1.svg" alt="" />
              </div>
              <img src="assets/images/img/demos/accounting-1/icons/icon-1.svg" width="55" height="55" alt=""  />
            </div>
            <div class="feature-box-info w-100 ps-4 ms-1">
              <h4 class="mb-1">Individuelle Strombeschaffung leicht gemacht</h4>
              <p class="mb-0 pt-1 line-height-6">Mit unserer Plattform stellen Unternehmen maßgeschneiderte Anfragen basierend auf ihrem Energiebedarf und erhalten Angebote von führenden Energieversorgern.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-sm-5 mb-lg-0">
          <div class="animate__animated animate__fadeIn">
            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
              <div class="p-absolute opacity-2 rotate-l-45">
                <img width="80" src="assets/images/img/icons/abstract-bg-1.svg" alt=""  />
              </div>
              <img src="assets/images/img/demos/accounting-1/icons/icon-2.svg" width="55" alt="" />
            </div>
            <div class="feature-box-info w-100 ps-4 ms-1">
              <h4 class="mb-1">Transparente und einfache Vergleichsmöglichkeit</h4>
              <p class="mb-0 pt-1 line-height-6">Vergleichen Sie verschiedene Stromversorger auf Basis von Preis, Vertragslaufzeit und Energiequellen und treffen Sie fundierte Entscheidungen.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feature-box animate__animated animate__fadeIn">
            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
              <div class="p-absolute opacity-2 rotate-l-30">
                <img width="80" src="assets/images/img/icons/abstract-bg-1.svg" alt="" />
              </div>
              <img src="assets/images/img/demos/accounting-1/icons/icon-3.svg"
                   width="55"
                   alt=""/>
            </div>
            <div class="feature-box-info w-100 ps-4 ms-1">
              <h4 class="mb-1">Effizienz und Flexibilität für jede Unternehmensgröße</h4>
              <p class="mb-0 pt-1 line-height-6">Egal ob kleines Gewerbe oder großes Industrieunternehmen – unsere Plattform passt sich Ihren Beschaffungsintervallen und speziellen Anforderungen an.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Who We Are -->
  <div class="container" id="intro">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mt-5 mt-lg-0 py-lg-5">
        <div class="animate__animated animate__fadeIn">
          <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Who We Are</span></span>
        </div>
        <div class="animate__animated animate__fadeIn">
          <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Effiziente Strombeschaffung für Gewerbe und Industrie</h2>
        </div>
        <div class="animate__animated animate__fadeIn">
          <p class="pe-lg-5">Optimieren Sie Ihre Energieversorgung mit unserer Plattform. Wir ermöglichen Ihnen, individuelle Anfragen für Ihre Stromversorgung zu stellen und Angebote von zuverlässigen Energieversorgern zu erhalten. Sparen Sie Zeit und Kosten bei der Suche nach dem passenden Energieversorger für Ihr Unternehmen.</p>
        </div>

        <div class="animate__animated animate__fadeIn">
          <div class="d-flex align-items-center pt-2 pb-4">
            <p class="d-inline-block mb-0 font-weight-bold line-height-1"><mark class="text-dark mark mark-pos-2 mark-height-50 mark-color bg-color-before-primary-rgba-30 font-secondary text-15 mark-height-30 n-ls-5 p-0">30+</mark></p>
            <span class="custom-font-tertiary text-6 text-dark n-ls-1 fst-italic ps-2">Years of Experience</span>
          </div>
        </div>

        <div class="animate__animated animate__fadeIn">
          <div class="d-flex flex-column flex-lg-row pt-3 align-items-lg-center">
            <div>
              <a href="about.html" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium" data-clone-element="1">
                <span>Learn More <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
              </a>
            </div>
            <div class="text-4 px-3 d-none d-lg-block">-</div>
            <div class="pt-4 pt-lg-0">
              <div class="feature-box feature-box-secondary align-items-center">
                <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                  <img src="assets/images/img/icons/phone-2.svg" width="30" height="30" alt="" />
                </div>
                <div class="feature-box-info ps-2">
                  <strong class="d-block text-uppercase text-color-secondary p-relative top-2">Call Us</strong>
                  <a href="tel:1234567890" class="text-decoration-none font-secondary text-5 font-weight-semibold text-color-dark text-color-hover-primary transition-2ms negative-ls-05 ws-nowrap p-relative bottom-2">800 123 4567</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center p-relative py-5">
        <div class="opacity-2 p-absolute w-100">
          <img src="assets/images/img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary w-100'}" />
        </div>
        <div class="cascading-images-wrapper custom-cascading-images-wrapper-1">
          <div class="cascading-images p-relative">
            <div class="">
              <img class="img-fluid" src="assets/images/img/mm/picture2.jpeg" loading="lazy" alt="">
            </div>
            <div class="p-absolute w-100" style="top: 21%; left: -30%;">
              <img src="assets/images/img/mm/picture5.jpeg" loading="lazy" class="img-fluid" alt="" />
            </div>
            <div class="p-absolute bg-color-light border-radius-2 p-3 text-3-5 n-ls-05 text-dark box-shadow-7 d-flex align-items-center" style="bottom: 0%; left: -45%;">
              <img src="assets/images/img/demos/accounting-1/icons/icon-4.svg" width="26" alt="" /> <strong class="custom-font-secondary pe-2">Join Us</strong> | 1000+ clients globally!
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Why Choose Us -->
  <div class="container pt-4 pb-5 pt-lg-5">
    <div class="row align-items-center py-5">
      <div class="col-lg-6 mb-5 mb-lg-0 pe-lg-5">
        <div class="animate__animated animate__fadeIn">
          <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Wir arbeiten zusammen</span></span>
        </div>
        <div class="animate__animated animate__fadeIn">
          <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Ihre Vorteile</h2>
        </div>
        <div class="animate__animated animate__fadeIn">
          <p>Warum unsere Plattform die beste Wahl für Ihre Strombeschaffung ist</p>
        </div>
        <div class="animate__animated animate__fadeIn">
          <div class="d-flex pt-3 align-items-center">
            <a href="{{environment.links.portal}}" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium" data-clone-element="1">
              <span>Lieferanfrage stellen <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-relative">
        <div class="accordion accordion-modern-status accordion-modern-status-arrow accordion-modern-status-arrow-dark" id="accordionWhyChooseUs">
          <div class="card card-default box-shadow-8 border-radius-2 bg-light">
            <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingOne">
              <h4 class="card-title m-0">
                <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsOne" aria-expanded="false" aria-controls="collapseWhyChooseUsOne">
                  Zeitersparnis
                </a>
              </h4>
            </div>
            <div id="collapseWhyChooseUsOne" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingOne" data-bs-parent="#accordionWhyChooseUs">
              <div class="card-body pt-0">
                <p class="mb-0">Keine langwierige Suche nach geeigneten Stromanbietern. Unsere Plattform bündelt alle relevanten Anbieter an einem Ort, sodass Sie einfach und schnell Angebote einholen und vergleichen können.</p>
              </div>
            </div>
          </div>
          <div class="card card-default box-shadow-8 border-radius-2 bg-light">
            <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingTwo">
              <h4 class="card-title m-0">
                <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsTwo" aria-expanded="false" aria-controls="collapseWhyChooseUsTwo">
                  Kosteneffizienz
                </a>
              </h4>
            </div>
            <div id="collapseWhyChooseUsTwo" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingTwo" data-bs-parent="#accordionWhyChooseUs">
              <div class="card-body pt-0">
                <p class="mb-0">Durch den direkten Vergleich mehrerer Anbieter finden Sie den Stromversorger, der Ihnen die besten Konditionen für Ihre spezifischen Anforderungen bietet.</p>
              </div>
            </div>
          </div>
          <div class="card card-default box-shadow-8 border-radius-2 bg-light">
            <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingThree">
              <h4 class="card-title m-0">
                <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsThree" aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
                  Transparenz
                </a>
              </h4>
            </div>
            <div id="collapseWhyChooseUsThree" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingThree" data-bs-parent="#accordionWhyChooseUs">
              <div class="card-body pt-0">
                <p class="mb-0">Sie erhalten vollständige Transparenz über die Angebote und Konditionen der verschiedenen Energieversorger. Alle relevanten Details auf einen Blick, damit Sie fundierte Entscheidungen treffen können.</p>
              </div>
            </div>
          </div>
          <div class="card card-default box-shadow-8 border-radius-2 bg-light">
            <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingFour">
              <h4 class="card-title m-0">
                <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsFour" aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
                  Flexibilität
                </a>
              </h4>
            </div>
            <div id="collapseWhyChooseUsFour" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingFour" data-bs-parent="#accordionWhyChooseUs">
              <div class="card-body pt-0">
                <p class="mb-0">Ganz gleich, ob Ihr Unternehmen in einer wachsenden oder etablierten Phase ist – wir passen uns Ihren Bedürfnissen an. Stellen Sie Anfragen so oft Sie möchten und finden Sie den passenden Anbieter für jede Unternehmensgröße und jedes Beschaffungsintervall.</p>
              </div>
            </div>
          </div>
          <div class="card card-default box-shadow-8 border-radius-2 bg-light">
            <div class="card-header bg-transparent" id="collapseHeading5">
              <h4 class="card-title m-0">
                <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Zukunftssicher
                </a>
              </h4>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="collapseHeading5" data-bs-parent="#accordionWhyChooseUs">
              <div class="card-body pt-0">
                <p class="mb-0">Unsere Plattform ist darauf ausgelegt, mit den sich ändernden Anforderungen des Energiemarktes Schritt zu halten. Ob erneuerbare Energien oder langfristige Verträge – Sie bleiben stets auf dem neuesten Stand.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delivering Excellence -->
  <div class="bg-quaternary border-radius-2 p-relative overflow-hidden">
    <div class="container p-relative z-index-1">
      <div class="row px-3 px-xl-0 align-items-center py-5">
        <div class="col-lg-8 pb-0 pb-lg-5 pt-5">
          <div class="animate__animated animate__fadeIn">
            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4"><span class="p-relative z-index-1">Exzellente Angebote durch </span> <mark class="text-dark mark mark-color mark-color-primary mark-pos-2 mark-height-100 p-0 animate__animated animate__fadeIn">Wettbewerb</mark> und <mark class="text-dark mark mark-color mark-color-primary mark-pos-2 mark-height-100 p-0">Transparenz</mark></h2>
          </div>
          <div class="row">
            <div class="col-lg-5 mb-4 mb-lg-0">
              <div class="animate__animated animate__fadeIn">
                <div class="d-flex align-items-center pt-4">
                  <strong class="d-inline-flex text-15 text-dark n-ls-5">33%</strong>
                  <div class="p-2 ps-3">
                    <img src="assets/images/img/demos/accounting-1/icons/icon-6.svg" width="48" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                  </div>
                </div>
                <span class="custom-font-tertiary text-7 text-dark n-ls-1 fst-italic">durchschn. Kostenreduktion</span>
                <p class="mb-0 pt-2 text-3-5 line-height-7">durch bedarfsgerechtere Stromversorgung</p>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="animate__animated animate__fadeIn">
                <div class="d-flex align-items-center pt-4">
                  <strong class="d-inline-flex text-15 text-dark n-ls-5">70%</strong>
                  <div class="p-2 ps-3">
                    <img src="assets/images/img/demos/accounting-1/icons/icon-6.svg" width="48" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                  </div>
                </div>
                <span class="custom-font-tertiary text-7 text-dark n-ls-1 fst-italic">durchschn. CO-Einsparung</span>
                <p class="mb-0 pt-2 text-3-5 line-height-7">durch regenerative Erzeugungspartner</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="animate__animated animate__fadeIn">
            <img src="assets/images/img/demos/accounting-1/svg/graph.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="bg-secondary rounded-bottom p-relative overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col px-0 text-center text-color-light">
            <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-center">
              <div class="me-lg-4 flex-grow-1 flex-lg-grow-0">
                <span class="d-inline-block text-3 py-4 px-5 text-uppercase font-weight-medium custom-bg-gradient-1 w-100 rounded-pill">Weitere Informationen:</span>
              </div>
              <div class="me-3 ps-3 p-relative bottom-1 pt-3 pt-lg-0">
                <a href="process.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">So funktioniert der Prozess <i class="fas fa-arrow-right ms-2"></i></a>
              </div>
              <div class="py-3 py-lg-0 p-relative bottom-1 border-start border-color-light-rgba-20">
                <a href="contact.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">Kontakt <i class="fas fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logos -->
  <div class="container">
    <div class="row py-4">
      <div class="col pb-0 pt-5 pb-lg-5">
        <div class="owl-carousel owl-theme carousel-center-active-item" >
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-1.png" alt="">
          </div>
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-3.png" alt="">
          </div>
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-4.png" alt="">
          </div>
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-5.png" alt="">
          </div>
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-6.png" alt="">
          </div>
          <div>
            <img class="img-fluid" src="assets/images/img/logos/logo-7.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- What Our Clients Say -->
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 p-relative z-index-1">
        <div class="sticky-container h-100">
          <div data-plugin-sticky data-plugin-options="{'minWidth': 0, 'containerSelector': '.sticky-container', 'padding': {'top': 0, 'bottom': 0}}">
            <div class="animate__animated animate__fadeIn">
              <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4 mt-4"><span class="d-inline-flex py-1 px-2">Loved by Our Clients <i class="fa-solid fa-heart ms-2 custom-text-color-1"></i></span></span>
            </div>
            <div class="animate__animated animate__fadeIn">
              <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Das sagen unsere Kunden</h2>
            </div>
            <div class="animate__animated animate__fadeIn">
              <p>Unser Engagement für die Bereitstellung außergewöhnlicher Dienste spiegelt sich in dem Feedback wider, das wir von unseren geschätzten Kunden erhalten.</p>
            </div>

            <div class="animate__animated animate__fadeIn">
              <div class="py-2 d-flex text-4-5 n-ls-1 text-dark">
                <img src="assets/images/img/demos/accounting-1/icons/icon-4.svg" width="28" alt="" /> <strong class="custom-font-secondary pe-2">Teste uns</strong> | 100+ Nutzer in Deutschland!
              </div>
            </div>

            <div class="animate__animated animate__fadeIn">
              <div class="d-flex pt-4 align-items-center">
                <a href="contact.html" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                  <span>Werde Nutzer <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="animate__animated animate__fadeIn">
          <div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
            <div class="card-body py-3 px-2">
              <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                <div class="testimonial-author pb-3">
                  <div class="testimonial-author-thumbnail">
                    <img src="assets/images/img/clients/client-1.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                  </div>
                  <p><strong class="font-weight-bold">Simon Z.</strong><span>Founder - Stromify</span></p>
                </div>
                <div class="px-4 mx-2 pt-2 pb-3">
                  <p>Dank der Plattform konnten wir die Angebote verschiedener Stromanbieter unkompliziert vergleichen und haben so einen deutlich günstigeren Vertrag für unser Unternehmen abgeschlossen. Der Prozess war schnell und transparent.</p>
                  <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="animate__animated animate__fadeIn">
          <div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
            <div class="card-body py-3 px-2">
              <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                <div class="testimonial-author pb-3">
                  <div class="testimonial-author-thumbnail">
                    <img src="assets/images/img/clients/client-2.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                  </div>
                  <p><strong class="font-weight-bold">Matthias M.</strong><span>Small Business Owner</span></p>
                </div>
                <div class="px-4 mx-2 pt-2 pb-3">
                  <p>Unsere jährlichen Energiekosten haben sich durch den Wechsel des Anbieters um 15 % reduziert. Die Plattform war eine große Hilfe bei der Auswahl des passenden Energieversorgers.</p>
                  <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="animate__animated animate__fadeIn">
          <div class="card border-radius-2 bg-color-light border-0 box-shadow-9">
            <div class="card-body py-3 px-2">
              <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                <div class="testimonial-author pb-3">
                  <div class="testimonial-author-thumbnail">
                    <img src="assets/images/img/clients/client-3.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                  </div>
                  <p><strong class="font-weight-bold">Caro Z.</strong><span>Entrepreneur</span></p>
                </div>
                <div class="px-4 mx-2 pt-2 pb-3">
                  <p>Besonders gut hat uns gefallen, wie einfach und intuitiv die Plattform zu bedienen ist. Wir konnten innerhalb kurzer Zeit eine fundierte Entscheidung treffen.</p>
                  <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- News -->
  <div class="text-center overflow-hidden w-100">
    <div class="animate__animated animate__fadeIn">
      <h2 class="text-resp-150 ws-nowrap font-weight-semi-bold text-overflow-center text-color-grey-100 n-ls-5 mb-5">News</h2>
    </div>
  </div>
  <div class="bg-grey-100 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden custom-pos-3">
    <div class="container py-5">
      <div class="row pt-4">
        <div class="col text-center">
          <div class="animate__animated animate__fadeIn">
            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <article class="post">
            <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
              <div class="p-relative rounded-3 overflow-hidden">
                <div class="post-date p-absolute top-20 left-20">
                  <span class="day py-1 text-4 font-weight-bold text-secondary">15</span>
                  <span class="month bg-secondary">Jan</span>
                </div>
                <div class="p-absolute right-10 top-10">
                  <i class="fa-regular fa-message text-color-light text-4 p-absolute right-10 top-20"></i>
                  <span class="badge badge-comments-count bg-secondary text-color-light rounded-pill p-0 p-relative z-index-1">5</span>
                </div>
                <a href="demo-accounting-1-news-post.html" class="text-decoration-none">
                  <img class="card-img-top" src="assets/images/img/demos/accounting-1/blog/blog-thumb-1.jpg" loading="lazy" alt="Card Image">
                </a>
                <div class="card-body bg-light p-4">
                  <span class="badge badge-dark badge-sm rounded-pill text-uppercase me-1">business</span>
                  <h4 class="my-2"><a href="demo-accounting-1-news-post.html" class="text-decoration-none text-dark text-color-hover-primary">Common Tax Mistakes</a></h4>
                  <p class="card-text text-3-5 mb-1">Tax season can be a stressful time for small business owners, especially when navigating the complex web of tax...</p>
                  <a href="demo-accounting-1-news-post.html" class="read-more text-color-secondary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                  <div class="d-flex align-items-center mt-3 pt-1">
                    <img src="assets/images/img/avatars/avatar.jpg" loading="lazy" class="img-fluid rounded-circle me-2" width="25" alt="">
                    <strong class="text-color-dark text-2">by John Doe</strong>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <article class="post">
            <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
              <div class="p-relative rounded-3 overflow-hidden">
                <div class="post-date p-absolute top-20 left-20">
                  <span class="day py-1 text-4 font-weight-bold text-secondary">15</span>
                  <span class="month bg-secondary">Jan</span>
                </div>
                <div class="p-absolute right-10 top-10">
                  <i class="fa-regular fa-message text-color-light text-4 p-absolute right-10 top-20"></i>
                  <span class="badge badge-comments-count bg-secondary text-color-light rounded-pill p-0 p-relative z-index-1">5</span>
                </div>
                <a href="demo-accounting-1-news-post.html" class="text-decoration-none">
                  <img class="card-img-top" src="assets/images/img/demos/accounting-1/blog/blog-thumb-2.jpg" loading="lazy" alt="Card Image">
                </a>
                <div class="card-body bg-light p-4">
                  <span class="badge badge-dark badge-sm rounded-pill text-uppercase me-1">business</span>
                  <h4 class="my-2"><a href="demo-accounting-1-news-post.html" class="text-decoration-none text-dark text-color-hover-primary">Cash and Accrual Accounting</a></h4>
                  <p class="card-text text-3-5 mb-1">Many business owners struggle with choosing the right accounting method for their business. This blog post would...</p>
                  <a href="demo-accounting-1-news-post.html" class="read-more text-color-secondary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                  <div class="d-flex align-items-center mt-3 pt-1">
                    <img src="assets/images/img/avatars/avatar.jpg" loading="lazy" class="img-fluid rounded-circle me-2" width="25" alt="">
                    <strong class="text-color-dark text-2">by John Doe</strong>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <article class="post">
            <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
              <div class="p-relative rounded-3 overflow-hidden">
                <div class="post-date p-absolute top-20 left-20">
                  <span class="day py-1 text-4 font-weight-bold text-secondary">15</span>
                  <span class="month bg-secondary">Jan</span>
                </div>
                <div class="p-absolute right-10 top-10">
                  <i class="fa-regular fa-message text-color-light text-4 p-absolute right-10 top-20"></i>
                  <span class="badge badge-comments-count bg-secondary text-color-light rounded-pill p-0 p-relative z-index-1">5</span>
                </div>
                <a href="demo-accounting-1-news-post.html" class="text-decoration-none">
                  <img class="card-img-top" src="assets/images/img/demos/accounting-1/blog/blog-thumb-3.jpg" loading="lazy" alt="Card Image">
                </a>
                <div class="card-body bg-light p-4">
                  <span class="badge badge-dark badge-sm rounded-pill text-uppercase me-1">business</span>
                  <h4 class="my-2"><a href="demo-accounting-1-news-post.html" class="text-decoration-none text-dark text-color-hover-primary">Prepare for a Financial Audit</a></h4>
                  <p class="card-text text-3-5 mb-1">Preparing for a financial audit can be daunting for businesses, but it doesn't have to be...</p>
                  <a href="demo-accounting-1-news-post.html" class="read-more text-color-secondary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                  <div class="d-flex align-items-center mt-3 pt-1">
                    <img src="assets/images/img/avatars/avatar.jpg" loading="lazy" class="img-fluid rounded-circle me-2" width="25" alt="">
                    <strong class="text-color-dark text-2">by John Doe</strong>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

</div>
