<div role="main" class="main px-3 px-lg-5">

  <div class="page-header py-0 bg-primary px-3 px-xl-0 border-radius-2 p-relative mb-5 overflow-hidden">
    <div class="overflow-hidden p-absolute top-0 left-0 bottom-0 h-100 w-100">
      <div class="custom-el-5 custom-pos-4">
        <img class="img-fluid opacity-2 opacity-hover-2" src="assets/images/img/demos/accounting-1/svg/waves.svg" alt="">
      </div>
    </div>
    <div class="container p-relative z-index-1 py-2">
      <div class="row mh-200px mh-lg-300px align-items-center py-4">
        <div class="col">
          <div class="animate__animated animate__fadeIn">
            <span class="badge bg-color-dark-rgba-10 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Die nächsten Schritte</span></span>
          </div>
          <div class="animate__animated animate__fadeIn">
            <h1 class="text-dark text-9 text-lg-12 font-weight-semibold line-height-1 mb-2">Ihr Weg zum optimalen Energieversorger</h1>
          </div>
          <div class="animate__animated animate__fadeIn">
            <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
              <li><a routerLink="/home" class="text-dark text-decoration-none">Home</a></li>
              <li class="active">Ihr Weg zum optimalen Energieversorger</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-lg-5" id="intro">
    <div class="row counters mb-lg-5">
      <div class="col">
        <section class="timeline mt-5">
          <div class="timeline-body" *ngFor="let step of steps">
            <div class="timeline-number bg-color-secondary box-shadow-8">
              <h3 class="text-light text-5">{{ step.number }}</h3>
            </div>

            <div class="row mt-5 align-items-center justify-content-around mb-5">
              <div class="col-lg-5 bg-color-light p-3" [ngClass]="step.order">
                <div class="animate__animated animate__fadeIn">
                  <img [src]="step.image" class="img-fluid border-radius-2" alt="">
                </div>
              </div>
              <div class="col-lg-5 bg-color-light p-3 pt-0 text-center text-lg-start">
                <div class="animate__animated animate__fadeIn">
                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                  <span class="d-inline-flex py-1 px-2">{{ step.subtitle }}</span>
                </span>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <h4 class="text-6 font-weight-semibold line-height-1 mb-4">{{ step.title }}</h4>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <p class="pe-lg-5">{{ step.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <div class="text-center overflow-hidden w-100">
    <div class="animate__animated animate__fadeIn" >
      <h2 class="text-resp-150 ws-nowrap font-weight-semi-bold text-overflow-center text-color-grey-100 n-ls-5 mb-5">FAQ's</h2>
    </div>
  </div>
  <div class="bg-grey-100 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden custom-pos-3">
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col">
          <div class="animate__animated animate__fadeIn" >
            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>

      <div class="row pb-0">
        <div class="col">
          <div class="toggle toggle-minimal toggle-faqs toggle-dark m-0" id="accordionFAQ">
            <section  class="toggle"*ngFor="let faq of faqs">
              <a
                class="toggle-title text-4 text-dark"
                [id]="faq.headingId"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + faq.id"
                aria-expanded="false"
                [attr.aria-controls]="faq.id"
              >
                {{ faq.question }}
              </a>
              <div
                class="accordion-collapse collapse"
                [id]="faq.id"
                [attr.aria-labelledby]="faq.headingId"
                data-bs-parent="#accordionFAQ"
              >
                <div class="toggle-content">
                  <p class="mb-0">{{ faq.answer }}</p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
