<div role="main" class="main px-3 px-lg-5">

  <div class="page-header py-0 bg-primary px-3 px-xl-0 border-radius-2 p-relative mb-5 overflow-hidden">
    <div class="overflow-hidden p-absolute top-0 left-0 bottom-0 h-100 w-100">
      <div class="custom-el-5 custom-pos-4">
        <img class="img-fluid opacity-2 opacity-hover-2" src="assets/images/img/demos/accounting-1/svg/waves.svg" alt="">
      </div>
    </div>
    <div class="container p-relative z-index-1 py-2">
      <div class="row mh-200px mh-lg-300px align-items-center py-4">
        <div class="col">
          <div class="animate__animated animate__fadeIn">
            <span class="badge bg-color-dark-rgba-10 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Die nächsten Schritte</span></span>
          </div>
          <div class="animate__animated animate__fadeIn">
            <h1 class="text-dark text-9 text-lg-12 font-weight-semibold line-height-1 mb-2">Ihr Weg zum optimalen Energieversorger</h1>
          </div>
          <div class="animate__animated animate__fadeIn">
            <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
              <li><a href="home.html" class="text-dark text-decoration-none">Home</a></li>
              <li class="active">Ihr Weg zum optimalen Energieversorger</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-lg-5" id="intro2">
    <div class="row mb-5">
      <div class="col text-center">
        <div class="animate__animated animate__fadeIn">
          <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Der Weg zum besten Energieversorger</h2>
        </div>
        <div class="animate__animated animate__fadeIn" >
          <p class="pe-lg-5 mb-0 text-color-danger">At Porto, we believe that a personalized and systematic approach is key to providing exceptional accounting and financial services. Our process is designed to ensure transparency, accuracy, and efficiency at every step, allowing us to deliver the highest level of service to our clients. Here’s how we work with you to achieve your financial goals:</p>
        </div>

      </div>
    </div>

    <div class="row counters mb-lg-5">
      <div class="col">
        <section class="timeline mt-5">
          <div class="timeline-body">
            <div class="timeline-number bg-color-secondary box-shadow-8">
              <h3 class="text-light text-5">1</h3>
            </div>

            <div class="row mt-5 align-items-center justify-content-around mb-5">
              <div class="col-lg-5 bg-color-light p-3 order-0">
                <div class="animate__animated animate__fadeIn">
                  <img src="assets/images/img/demos/accounting-1/process/process-1.jpg" class="img-fluid border-radius-2" alt="">
                </div>
              </div>
              <div class="col-lg-5 bg-color-light p-3 pt-0 text-center text-lg-start">
                <div class="animate__animated animate__fadeIn">
                                                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                                                    <span class="d-inline-flex py-1 px-2">Schritt 1</span>
                                                </span>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <h4 class="text-6 font-weight-semibold line-height-1 mb-4">Anfrage erstellen</h4>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <p class="pe-lg-5">Geben Sie alle relevanten Informationen zu Ihrem Energiebedarf und Ihren Unternehmensstandorten ein. Diese Daten bilden die Basis für maßgeschneiderte Angebote von Energieversorgern.</p>
                </div>
              </div>
            </div>

            <div class="timeline-number bg-color-secondary box-shadow-8">
              <h3 class="text-light text-5">2</h3>
            </div>

            <div class="row mt-5 align-items-center justify-content-around">
              <div class="col-lg-5 bg-color-light p-3 order-lg-1">
                <div class="animate__animated animate__fadeIn" >
                  <img src="assets/images/img/demos/accounting-1/process/process-2.jpg" class="img-fluid border-radius-2" alt="">
                </div>
              </div>
              <div class="col-lg-5 bg-color-light p-3 pt-0 text-center text-lg-start">
                <div class="animate__animated animate__fadeIn" >
                                                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                                                    <span class="d-inline-flex py-1 px-2">Schritt 2</span>
                                                </span>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <h4 class="text-6 font-weight-semibold line-height-1 mb-4">Angebote einholen</h4>
                </div>
                <div class="animate__animated animate__fadeIn">
                  <p class="pe-lg-5">Energieversorger analysieren Ihre Anfrage und unterbreiten Ihnen Angebote, die genau auf Ihre Bedürfnisse abgestimmt sind.</p>
                </div>
              </div>
            </div>

            <div class="timeline-number bg-color-secondary box-shadow-8">
              <h3 class="text-light text-5">3</h3>
            </div>

            <div class="row mt-5 align-items-center justify-content-around mb-5">
              <div class="col-lg-5 bg-color-light p-3 order-0">
                <div class="animate__animated animate__fadeIn" >
                  <img src="assets/images/img/demos/accounting-1/process/process-3.jpg" class="img-fluid border-radius-2" alt="">
                </div>
              </div>
              <div class="col-lg-5 bg-color-light p-3 pt-0 text-center text-lg-start">
                <div class="animate__animated animate__fadeIn">
                                                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                                                    <span class="d-inline-flex py-1 px-2">Schritt 3</span>
                                                </span>
                </div>
                <div class="animate__animated animate__fadeIn" >
                  <h4 class="text-6 font-weight-semibold line-height-1 mb-4">Angebote vergleichen</h4>
                </div>
                <div class="animate__animated animate__fadeIn" >
                  <p class="pe-lg-5">Vergleichen Sie die eingegangenen Angebote nach Preis, Vertragslaufzeit, Energiequellen und weiteren Kriterien, die für Ihr Unternehmen von Bedeutung sind.</p>
                </div>
              </div>
            </div>

            <div class="timeline-number bg-color-secondary box-shadow-8">
              <h3 class="text-light text-5">4</h3>
            </div>

            <div class="row mt-5 align-items-center justify-content-around">
              <div class="col-lg-5 bg-color-light p-3 order-lg-1">
                <div class="animate__animated animate__fadeIn" >
                  <img src="assets/images/img/demos/accounting-1/process/process-4.jpg" class="img-fluid border-radius-2" alt="">
                </div>
              </div>
              <div class="col-lg-5 bg-color-light p-3 pt-0 text-center text-lg-start">
                <div class="animate__animated animate__fadeIn" >
                                                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                                                    <span class="d-inline-flex py-1 px-2">Schritt 4</span>
                                                </span>
                </div>
                <div class="animate__animated animate__fadeIn" >
                  <h4 class="text-6 font-weight-semibold line-height-1 mb-4">Versorger auswählen</h4>
                </div>
                <div class="animate__animated animate__fadeIn" >
                  <p class="pe-lg-5">Treffen Sie Ihre Entscheidung auf Grundlage der bereitgestellten Informationen und wählen Sie den Energieversorger, der am besten zu Ihnen passt. Der gesamte Prozess ist unkompliziert und übersichtlich gestaltet.</p>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <div class="text-center overflow-hidden w-100">
    <div class="animate__animated animate__fadeIn" >
      <h2 class="text-resp-150 ws-nowrap font-weight-semi-bold text-overflow-center text-color-grey-100 n-ls-5 mb-5">FAQ's</h2>
    </div>
  </div>
  <div class="bg-grey-100 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden custom-pos-3">
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col">
          <div class="animate__animated animate__fadeIn" >
            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-color-danger">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col">
          <div class="toggle toggle-minimal toggle-faqs toggle-dark m-0" data-plugin-toggle>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">What types of businesses do you work with?</a>
              <div class="toggle-content"><p class="mb-0">We work with a wide range of businesses, from small startups to large corporations, across various industries. Our team is equipped to handle the unique accounting needs of any business.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">How do you charge for your services?</a>
              <div class="toggle-content"><p class="mb-0">Our pricing is flexible and depends on the scope of work required. We offer competitive hourly rates, flat fees for specific services, and custom packages tailored to your business’s needs.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">What accounting software do you use?</a>
              <div class="toggle-content"><p class="mb-0">We use industry-leading software like QuickBooks, Xero, and Sage, but we’re also proficient in a variety of other platforms. We can work with your existing system or recommend the best software for your needs.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">Can you help with tax planning and preparation?</a>
              <div class="toggle-content"><p class="mb-0">Yes, we provide comprehensive tax services, including tax planning, preparation, and filing. Our goal is to help you minimize your tax liabilities while ensuring full compliance with all regulations.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">How often will I receive financial reports?</a>
              <div class="toggle-content"><p class="mb-0">The frequency of reporting is up to you. We can provide monthly, quarterly, or annual reports, depending on your needs. Regular communication ensures that you’re always informed about your financial standing.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">Do you offer bookkeeping services?</a>
              <div class="toggle-content"><p class="mb-0">Absolutely. We provide full-service bookkeeping, including transaction recording, bank reconciliations, payroll processing, and more, to keep your financials in order.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">What makes your firm different from others?</a>
              <div class="toggle-content"><p class="mb-0">Our firm is distinguished by our personalized approach, deep industry knowledge, and commitment to building long-term relationships with our clients. We’re not just accountants—we’re your business partners.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">How do you ensure the security of my financial data?</a>
              <div class="toggle-content"><p class="mb-0">We take data security very seriously. Our firm uses the latest encryption technologies and follows strict protocols to protect your financial information from unauthorized access.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">Can you assist with financial forecasting and budgeting?</a>
              <div class="toggle-content"><p class="mb-0">Yes, we offer strategic financial planning services, including forecasting, budgeting, and cash flow analysis, to help you make informed decisions and achieve your business goals.</p></div>
            </section>
            <section class="toggle">
              <a class="toggle-title text-4 text-dark">How do I get started with your services?</a>
              <div class="toggle-content"><p class="mb-0">Getting started is easy! Simply contact us to schedule an initial consultation, where we’ll discuss your needs and how we can best support your business.</p></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Your Jorney -->
  <div class="container" id="intro">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mt-5 mt-lg-0 py-lg-5">
        <div class="animate__animated animate__fadeIn" >
          <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Are You Ready</span></span>
        </div>
        <div class="animate__animated animate__fadeIn" >
          <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 pe-lg-5 mb-4 text-color-danger">Start Your Journey with Us Today</h2>
        </div>
        <div class="animate__animated animate__fadeIn" >
          <p class="pe-lg-5">Our proven process is designed to provide clarity, confidence, and peace of mind. Ready to take control of your financial future? Contact us today to schedule your initial consultation and discover how we can help you achieve your financial goals.</p>
        </div>

        <div class="animate__animated animate__fadeIn" >
          <div class="py-2 d-flex flex-column flex-md-row align-items-center text-4-5 n-ls-1 text-dark">
            <img src="assets/images/img/demos/accounting-1/icons/icon-4.svg" width="28" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary me-md-2'}" /> <strong class="custom-font-secondary pe-2">Join Us</strong><span class="d-none d-md-inline-block pe-2"> | </span>1000+ clients globally!
            <p class="ms-md-2 mb-0 text-3-5 p-relative bottom-2"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
          </div>
        </div>

        <div class="animate__animated animate__fadeIn" >
          <div class="d-flex flex-column flex-lg-row pt-3 mt-2 align-items-lg-center">
            <div class="text-center text-lg-start">
              <a href="contact.html" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium" data-clone-element="1">
                <span>Lieferanfrage stellen<i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-6 text-center p-relative py-5">
        <div class="opacity-2 p-absolute w-100">
          <img src="assets/images/img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary w-100'}" />
        </div>
        <div class="cascading-images-wrapper custom-cascading-images-wrapper-1">
          <div class="cascading-images p-relative">
            <div class="">
              <img class="img-fluid" src="assets/images/img/demos/accounting-1/generic/generic-2.jpg" loading="lazy" alt="">
            </div>
            <div class="p-absolute w-100" style="top: 21%; left: -30%;">
              <img src="assets/images/img/demos/accounting-1/generic/generic-3.jpg" loading="lazy" class="img-fluid" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
